[Unit]
    Description=Dot Net App running as a Service

    [Service]
    WorkingDirectory=/var/dotnetapp/release
    ExecStart=/usr/local/bin/dotnet /var/dotnetapp/release/PublicAPI.dll
    Restart=always
    RestartSec=10                                          # Restart service after 10 seconds if dotnet service crashes
    SyslogIdentifier=dotnet-example
    User=apache
    Environment=ASPNETCORE_ENVIRONMENT=Production 

    [Install]
    WantedBy=multi-user.target